.env
Resource/auth/admin.js
Resource/auth/recipient.js
Resource/device/*
node_modules/
Resource/function/getSystemInformation/command/commandIPTV.json
Project/Remove-Data-Youtube/removeDataYoutube.txt
Project/Reboot-System-Guest-Room-TV/removeDataYoutube.txt
Project/Monitoring-Network/log/*
Project/Monitoring-Network/summary/*
